<html>
    <head>
        <title>Nitsan's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p><b>turtles!</b></p>
        <p><strong>TURTLES</strong>
    </body></p>
    <div>
      {%for post in posts %}
      {{post}}
      {% endfor %}
    </div>

    <div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
</html>
